.container {
  position: fixed;
  top: 5px;
  left: 10px;
}

@media (max-width: 600px) {
    .container {
        position: relative;
        display: flex;
        flex-direction: row;
    }
}

.headerImage {
  width: 75px;
  height: 75px;
}
